@charset "UTF-8";
html {
	-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none;
  -moz-user-select: none; -ms-user-select: none; user-select: none;
}
html, body {
	font-family: var(--fn-default);
	color: var(--white);
	padding: 0; margin: 0;
  height: 100%;
}


:root {
	/* Colors */
	--white: #fff; --black: #000; --gray: #6c757d; --gray-dark: #343a40; --dark: #212529;
	--rgb-025: rgb(025, 025, 025); --rgb-050: rgb(050, 050, 050); --rgb-075: rgb(075, 075, 075);
	--rgb-100: rgb(100, 100, 100); --rgb-125: rgb(125, 125, 125); --rgb-150: rgb(150, 150, 150);
	--rgb-175: rgb(175, 175, 175); --rgb-200: rgb(200, 200, 200); --rgb-225: rgb(225, 225, 225);
	--rgb-240: rgb(240, 240, 240);
	/* Fonts */
	--fn-default: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	--h-sz-lg: calc(var(--f-sz) * (34px + 2.50vw * var(--f-sz-vw))); --h-lh-lg: 105%; --h-hg-lg: calc(2 * var(--h-sz-lg));
	--h-sz-md: calc(var(--f-sz) * (27px + 1.00vw * var(--f-sz-vw))); --h-lh-md: 105%; --h-hg-md: calc(2 * var(--h-sz-md));
	--h-sz-sm: calc(var(--f-sz) * (21px + 1.00vw * var(--f-sz-vw))); --h-lh-sm: 100%; --h-hg-sm: calc(2 * var(--h-sz-sm));
	--h-sz-tn: calc(var(--f-sz) * (16px + 1.00vw * var(--f-sz-vw))); --h-lh-tn: 100%; --h-hg-tn: calc(2 * var(--h-sz-tn));
	--p-sz-lg: calc(var(--f-sz) * (16px + 0.65vw * var(--f-sz-vw))); --p-lh-lg: 105%; --p-hg-lg: calc(2 * var(--p-sz-lg));
	--p-sz-md: calc(var(--f-sz) * (14px + 0.60vw * var(--f-sz-vw))); --p-lh-md: 105%; --p-hg-md: calc(2 * var(--p-sz-md));
	--p-sz-sm: calc(var(--f-sz) * (11px + 0.55vw * var(--f-sz-vw))); --p-lh-sm: 100%; --p-hg-sm: calc(2 * var(--p-sz-sm));
	--p-sz-tn: calc(var(--f-sz) * (08px + 0.50vw * var(--f-sz-vw))); --p-lh-tn: 100%; --p-hg-tn: calc(2 * var(--p-sz-tn));
	/* Icons */
	--icon-sz-lg: calc(1.1 * var(--p-sz-lg)); --icon-sz-h-lg: calc(1.1 * var(--h-sz-lg));
	--icon-sz-md: calc(1.1 * var(--p-sz-md)); --icon-sz-h-md: calc(1.1 * var(--h-sz-md));
	--icon-sz-sm: calc(1.1 * var(--p-sz-sm)); --icon-sz-h-sm: calc(1.1 * var(--h-sz-sm));
	--icon-sz-tn: calc(1.1 * var(--p-sz-tn)); --icon-sz-h-tn: calc(1.1 * var(--h-sz-tn));
	/* Buttons */
	--btn-pd-lg: calc(3.00px + 0.90vmin) calc(3.25px + 0.95vmin);
	--btn-pd-md: calc(2.50px + 0.80vmin) calc(2.75px + 0.85vmin);
	--btn-pd-sm: calc(2.00px + 0.70vmin) calc(2.25px + 0.75vmin);
	--btn-pd-tn: calc(1.50px + 0.60vmin) calc(1.75px + 0.65vmin);
	/* Form System */
	--sh-left: -1px 0px 5px 2.5px var(--rgb-175);
	--sh-center: 0px 0px 5px 2.5px var(--rgb-175);
	--sh-right: 1px 0px 5px 2.5px var(--rgb-175);
	/* Flex System */
	--col-sz-1: 08.333333333333333%; --col-sz-2: 016.66666666666667%; --col-sz-3: 000000000000000025%;
	--col-sz-4: 033.33333333333333%; --col-sz-5: 041.66666666666667%; --col-sz-6: 000000000000000050%;
	--col-sz-7: 58.333333333333333%; --col-sz-8: 066.66666666666666%; --col-sz-9: 000000000000000075%;
	--col-sz-10: 83.33333333333333%; --col-sz-11: 91.66666666666667%; --col-sz-12: 00000000000000100%;
	--col-bs-1: 000000000000000100%; --col-bs-2: 000000000000000050%; --col-bs-3: 033.33333333333333%;
	--col-bs-4: 000000000000000025%; --col-bs-5: 000000000000000020%; --col-bs-6: 016.66666666666667%;
	--col-bs-7: 014.28571428571429%; --col-bs-8: 0000000000000012.5%; --col-bs-9: 011.11111111111111%;
	--col-bs-10: 00000000000000010%; --col-bs-11: 9.090909090909091%; --col-bs-12: 8.333333333333333%;
}
@media (max-width: 281px) {:root {--f-sz: 0.85; --f-sz-vw: 0;}}
@media (min-width: 281px) and (max-width: 641px) {:root {--f-sz: 1; --f-sz-vw: 1.10;}}
@media (min-width: 641px) and (max-width: 1008px) {:root {--f-sz: 1; --f-sz-vw: 0.90;}}
@media (min-width: 1008px) {:root {--f-sz: 1; --f-sz-vw: 0.80;}}
@keyframes default-fadein {from {opacity: .0} to {opacity: 1}} @-webkit-keyframes default-fadein {from {opacity: .0} to {opacity: 1}}
@keyframes default-fadeout {from {opacity: 1} to {opacity: .0}} @-webkit-keyframes default-fadeout {from {opacity: 1} to {opacity: .0}}

/* ANIMATION */
@keyframes loading {0% {transform: rotate(0);}100% {transform: rotate(360deg);}}
.loading {
	animation: loading 1.5s linear infinite;
	border: 50px solid #000;
	border-left-color: #FFF;
	border-radius: 100%;
	height: 300px;
	width: 300px;
}

/* START CONFIG */
*, ::after, ::before {box-sizing: border-box; margin: 0; padding: 0;}
hr {color: inherit; background-color: currentColor; border: 0; opacity: .25;}
hr:not([size]) {height: 1px; width: 100%;}
p {margin-top: 1.50vmin; margin-bottom: 1.50vmin;}

/* CUSTOM CONFIG */
.center {justify-content: center !important; text-align: center !important; align-content: center !important;}
.left {justify-content: left !important; text-align: left !important;}
.right {justify-content: right !important; text-align: right !important;}
.jc-start {justify-content: start !important;}
.jc-end {justify-content: end !important;}
.jc-center {justify-content: center !important;}
.jc-left {justify-content: left !important;}
.jc-right {justify-content: right !important;}
.tx-center {text-align: center !important;}
.tx-left {text-align: left !important;}
.tx-right {text-align: right !important;}
.ai-center {align-items: center !important;}
.ai-start {align-items: flex-start !important;}
.ai-end {align-items: flex-end !important;}
.mg-auto {margin: auto !important;}
.mg-x-auto {margin-left: auto !important; margin-right: auto !important;}
.mg-y-auto {margin-top: auto !important; margin-bottom: auto !important;}

/* FLEX SYSTEM */
/* .container {border: 3px solid red;} .row {border: 3px solid blue} .col {border: 2px solid palegreen;} */
.container {
    width: 100%; height: 100%; max-width: 100%; max-height: 100%;
	overflow: hidden; margin: auto;
}
.row {
    display: flex; flex-direction: row; flex-wrap: wrap; align-items: stretch;
    width: 100%; height: fit-content; max-width: 100%; max-height: 100%;
	margin: 0 auto;
}
.row > :not(.col) * {width: 100%;}
.col {
	display: flex; flex: 1 1 0; flex-direction: column; flex-wrap: wrap; align-items: center; justify-content: center;
	width: auto; height: auto; max-width: 100%; max-height: 100%;
	margin: 0;
}
.col > :not(.row) * {height: fit-content;}
.col.col-fit {max-width: fit-content;}
.col.col-1 {min-width: var(--col-sz-1)} .col.col-2 {min-width: var(--col-sz-2)} .col.col-3 {min-width: var(--col-sz-3)}
.col.col-4 {min-width: var(--col-sz-4)} .col.col-5 {min-width: var(--col-sz-5)} .col.col-6 {min-width: var(--col-sz-6)}
.col.col-7 {min-width: var(--col-sz-7)} .col.col-8 {min-width: var(--col-sz-8)} .col.col-9 {min-width: var(--col-sz-9)}
.col.col-10 {min-width: var(--col-sz-10)} .col.col-11 {min-width: var(--col-sz-11)} .col.col-12 {min-width: var(--col-sz-12)}
@media (max-width: 641px) {
	.container.tn, .row.tn, .col.tn {max-width: 95%;}
	.container.sm, .row.sm, .col.sm {max-width: 97.5%;}
	.container.md, .row.md, .col.md {max-width: 97.5%;}
	.container.sm-1 .col, .row.sm-1 > .col {flex-basis: var(--col-bs-1); min-width: var(--col-bs-1);}
	.container.sm-2 .col, .row.sm-2 > .col {flex-basis: var(--col-bs-2); min-width: var(--col-bs-2);}
	.container.sm-3 .col, .row.sm-3 > .col {flex-basis: var(--col-bs-3); min-width: var(--col-bs-3);}
}
@media (min-width: 641px) and (max-width: 1008px) {
	.container.tn, .row.tn, .col.tn {max-width: 90%;}
	.container.sm, .row.sm, .col.sm {max-width: 95%;}
	.container.md, .row.md, .col.md {max-width: 97.5%;}
    .container.md-1 .col, .row.md-1 > .col {flex-basis: var(--col-bs-1); min-width: var(--col-bs-1);}
	.container.md-2 .col, .row.md-2 > .col {flex-basis: var(--col-bs-2); min-width: var(--col-bs-2);}
	.container.md-3 .col, .row.md-3 > .col {flex-basis: var(--col-bs-3); min-width: var(--col-bs-3);}
}
@media (min-width: 1008px) {
	.container.tn, .row.tn, .col.tn {max-width: 80%;}
	.container.sm, .row.sm, .col.sm {max-width: 85%;}
	.container.md, .row.md, .col.md {max-width: 90%;}
	.container.lg-1 .col, .row.lg-1 > .col {flex-basis: var(--col-bs-1); min-width: var(--col-bs-1);}
	.container.lg-2 .col, .row.lg-2 > .col {flex-basis: var(--col-bs-2); min-width: var(--col-bs-2);}
	.container.lg-3 .col, .row.lg-3 > .col {flex-basis: var(--col-bs-3); min-width: var(--col-bs-3);}
}

/* FORM SYSTEM */
.form-group {
	display: flex; flex-direction: column; flex-wrap: nowrap; align-items: stretch;
	width: 100%; height: fit-content; margin: 0; padding: 0;
}
.form-group > *:not(.input-group) {
	display: flex !important; flex: 0 0 auto !important; margin: 0 !important;
	align-items: center; overflow: hidden; border-radius: 5px; width: auto;
}
.form-group.lg > *:not(.input-group) {font-size: var(--p-sz-lg); line-height: var(--p-lh-lg); height: var(--p-hg-lg); padding: var(--btn-pd-lg);}
.form-group.md > *:not(.input-group) {font-size: var(--p-sz-md); line-height: var(--p-lh-md); height: var(--p-hg-md); padding: var(--btn-pd-md);}
.form-group:not(.tn, .sm, .md, .lg) > *:not(.input-group),
.form-group.sm > *:not(.input-group) {font-size: var(--p-sz-sm); line-height: var(--p-lh-sm); height: var(--p-hg-sm); padding: var(--btn-pd-sm);}
.form-group.tn > *:not(.input-group) {font-size: var(--p-sz-tn); line-height: var(--p-lh-tn); height: var(--p-hg-tn); padding: var(--btn-pd-tn);}

.form-group > :focus {outline: 0; box-shadow: var(--sh-center)}

.form-group > .fg-label, .form-group > .fg-desc {height: fit-content !important;}
.form-group > .fg-label {padding-top: 0 !important;}
.form-group > .fg-desc {font-size: var(--p-sz-tn) !important; line-height: var(--p-lh-tn) !important; padding: var(--btn-pd-tn) !important; padding-bottom: 0 !important;}
.form-group > .fg-control {color: var(--rgb-025); border: 1px solid var(--rgb-200);}
.form-group > ::placeholder, .form-group > :invalid {color: var(--rgb-125); background: var(--white);}

.input-group {
	display: flex; flex-direction: row; flex-wrap: nowrap; align-items: stretch;
	width: 100%; height: fit-content; margin: 0; padding: 0;
}
.input-group > * {
	display: flex !important; flex: 1 1 auto !important; margin: 0 !important;
	align-items: center; overflow: hidden; border-radius: 5px; width: auto;
}
.input-group.lg > * {font-size: var(--p-sz-lg); line-height: var(--p-lh-lg); height: var(--p-hg-lg); padding: var(--btn-pd-lg);}
.input-group.md > * {font-size: var(--p-sz-md); line-height: var(--p-lh-md); height: var(--p-hg-md); padding: var(--btn-pd-md);}
.input-group:not(.tn, .sm, .md, .lg) > *,
.input-group.sm >* {font-size: var(--p-sz-sm); line-height: var(--p-lh-sm); height: var(--p-hg-sm); padding: var(--btn-pd-sm);}
.input-group.tn > * {font-size: var(--p-sz-tn); line-height: var(--p-lh-tn); height: var(--p-hg-tn); padding: var(--btn-pd-tn);}

.input-group > :first-child {border-top-right-radius: 0; border-bottom-right-radius: 0;}
.input-group > :last-child {border-top-left-radius: 0; border-bottom-left-radius: 0;}
.input-group > :not(:first-child, :last-child) {border-radius: 0;}

.input-group > :first-child:focus {outline: 0; box-shadow: var(--sh-left);}
.input-group > :last-child:focus {outline: 0; box-shadow: var(--sh-right);}
.input-group > :not(:first-child, :last-child):focus {outline: 0; box-shadow: var(--sh-center);}

.input-group > .ig-label {background: var(--rgb-225); color: var(--rgb-025); text-align: center; max-width: fit-content;}
.input-group > .ig-control {color: var(--rgb-025);}
.input-group > .ig-label, .input-group > .ig-control {border: 1px solid var(--rgb-200);}
.input-group > ::placeholder, .input-group > :invalid {color: var(--rgb-125); background: var(--white);}

/* BUTTON SYSTEM */
.btn {
	display: inline-flex;
	cursor: pointer;
	text-decoration: none;
	vertical-align: middle;
	align-content: center;
	align-items: center;
	justify-content: center;
	width: fit-content;
	height: fit-content;
}
.btn.lg {font-size: var(--p-sz-lg); line-height: var(--p-lh-lg); height: var(--p-hg-lg); padding: var(--btn-pd-lg);}
.btn.md {font-size: var(--p-sz-md); line-height: var(--p-lh-md); height: var(--p-hg-md); padding: var(--btn-pd-md);}
.btn:not(.tn, .sm, .md, .lg),
.btn.sm {font-size: var(--p-sz-sm); line-height: var(--p-lh-sm); height: var(--p-hg-sm); padding: var(--btn-pd-sm);}
.btn.tn {font-size: var(--p-sz-tn); line-height: var(--p-lh-tn); height: var(--p-hg-tn); padding: var(--btn-pd-tn);}

.btn:not([class*="btn-"]),
.btn.btn-outwhite {background: transparent; color: var(--white); border: 1px solid var(--white); border-radius: 5px;}
.btn:not([class*="btn-"]):hover,
.btn.btn-outwhite:hover {background: var(--black); filter: invert(100);}
.btn:not(.btn-clean, .btn-item, .btn-drop, .btn-page):focus,
.btn.btn-outwhite:focus {box-shadow: 0px 0px 0px 5px rgba(200, 200, 200, 0.5);}

.btn.btn-green {background: green; color: var(--white); border: 1px solid var(--white); border-radius: 5px;}
.btn.btn-green:hover {background: #00FF00;}

.btn.btn-outblack {background: transparent; color: var(--black); border: 1px solid var(--black); border-radius: 5px;}
.btn.btn-outblack:hover {background: var(--white); filter: invert(100);}

.btn.btn-item {width: 100% !important; background: var(--black); color: var(--white); justify-content: flex-start; border: 0; border-radius: 5px; margin: 0.25vmin 0.5vmin;}
.btn.btn-item.active {background: var(--gray);}
.btn.btn-item.disabled {pointer-events: none;}
.btn.btn-item:hover {background: var(--gray-dark);}

.btn.btn-clean {border: 0; margin: 0; padding: 0; height: fit-content;}
.btn.btn-clean:hover {color: currentColor; background: transparent;}

/* DROP */
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown .btn.btn-drop {border: 0; margin: 0; padding: 0;}
.dropdown .btn.btn-drop::after {
	display: inline-block;
    margin-left: .255em;
    vertical-align: middle;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.dropdown .btn.btn-drop:hover {color: currentColor; background: transparent;}

.dropdown .drop {
	display: none;
	position: absolute;
	background: var(--rgb-240); color: var(--black);
	width: fit-content; height: auto;
	padding: 0.5vmin; margin: auto;
	animation: default-fadein .3s ease-in;
	-webkit-animation: default-fadein .3s ease-in-out;
	border-radius: 5px;
	z-index: 1;
}
.dropdown .drop.show {display: block;}
.dropdown .drop a {
	display: block;
	text-decoration: none; text-align: left;
	color: var(--black);
	border-radius: 3px;
	width: 100%;
	padding: 0.5vmin; margin: 0.25vmin;
}
.dropdown .drop a:hover{background: var(--gray-dark); color: var(--white);}
.dropdown .drop.active {background: var(--gray);}
.dropdown .drop.disabled {pointer-events: none;}

/* EXPAND */
.btn-item.toggle::before {
	vertical-align: middle;
	pointer-events: none;
	text-align: center;
	padding: 0 !important;
	line-height: var(--p-lh-sm); width: var(--icon-sz-sm); height: var(--icon-sz-sm); margin: 0 1.00vmin;
	content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/></svg>');
	transition: transform .35s ease;
    transform-origin: 0.5em 50%;
}
.btn-item.toggle[expanded]::before {
	transform: rotate(90deg);
}
.btn.expand[expanded] {background: var(--gray);}
.expanded {display: none; width: 100%;}
.expanded.show {display: flex;}

/* PAGINATION */
.pagination {
	position: relative;
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
	width: fit-content; height: fit-content;
	margin: auto;
}
.pagination * {
	flex: 1 1 0 !important; margin: 0 !important;
	align-items: center; text-align: center; justify-content: center;
	overflow: hidden; width: auto; height: auto;
	border-radius: 5px;
}
.pagination.lg a {font-size: var(--p-sz-lg); line-height: var(--p-lh-lg); height: var(--p-hg-lg); padding: var(--btn-pd-lg);}
.pagination.md a {font-size: var(--p-sz-md); line-height: var(--p-lh-md); height: var(--p-hg-md); padding: var(--btn-pd-md);}
.pagination:not(.tn, .sm, .md, .lg) a,
.pagination.sm a {font-size: var(--p-sz-sm); line-height: var(--p-lh-sm); height: var(--p-hg-sm); padding: var(--btn-pd-sm);}
.pagination.tn a {font-size: var(--p-sz-tn); line-height: var(--p-lh-tn); height: var(--p-hg-tn); padding: var(--btn-pd-tn);}

.pagination a:first-child {border-top-right-radius: 0; border-bottom-right-radius: 0;}
.pagination a:last-child {border-top-left-radius: 0; border-bottom-left-radius: 0;}
.pagination a:not(:first-child, :last-child) {border-radius: 0;}

.pagination .btn.btn-page {
	background: var(--gray); color: var(--white);
	transition: background-color 0.3s;
	border: 1px solid var(--white);
}
.pagination .btn.btn-page:hover {background: var(--gray-dark);}
.pagination .btn.btn-page.active {pointer-events: none; background: var(--white); color: var(--black); font-weight: bold;}
.pagination .btn.btn-page.disabled {pointer-events: none; background: var(--dark);}

/* ALERT */
.alert {
	display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center;
	width: 100%; height: fit-content; padding: 2vmin; margin: 2vmin auto;
	border-radius: 5px;
}
.alert > * {
	flex: 1 1 auto !important; margin: 0 !important; padding: 0 !important;
	align-items: center; justify-content: center; overflow: hidden;
	font-size: var(--p-sz-sm); line-height: var(--h-lh-sm); font-weight: bold;
	width: auto;
}
.alert a:last-child {max-width: fit-content;}
.alert.danger {
	color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
}
.alert.success {
    color: #0f5132;
    background-color: #d1e7dd;
    border-color: #badbcc;
}
.alert-close {
	cursor: pointer;
	width: fit-content;
	height: fit-content;
}

.alert-close > * {
	margin: 0 !important; padding: 0 !important;
}

/* ICON SYSTEM */
.icon {
	vertical-align: middle;
	pointer-events: none;
	text-align: center;
	padding: 0 !important;
}
.icon.h-lg {line-height: var(--h-lh-lg); width: var(--icon-sz-h-lg); height: var(--icon-sz-h-lg); margin: 0 2.50vmin;}
.icon.h-md {line-height: var(--h-lh-md); width: var(--icon-sz-h-md); height: var(--icon-sz-h-md); margin: 0 2.25vmin;}
.icon.h-sm {line-height: var(--h-lh-sm); width: var(--icon-sz-h-sm); height: var(--icon-sz-h-sm); margin: 0 2.00vmin;}
.icon.h-tn {line-height: var(--h-lh-tn); width: var(--icon-sz-h-tn); height: var(--icon-sz-h-tn); margin: 0 1.75vmin;}
.icon.lg {line-height: var(--p-lh-lg); width: var(--icon-sz-lg); height: var(--icon-sz-lg); margin: 0 1.50vmin;}
.icon.md {line-height: var(--p-lh-md); width: var(--icon-sz-md); height: var(--icon-sz-md); margin: 0 1.25vmin;}
.icon:not(.tn, .sm, .md, .lg, .h-tn, .h-sm, .h-md, .h-lg),
.icon.sm {line-height: var(--p-lh-sm); width: var(--icon-sz-sm); height: var(--icon-sz-sm); margin: 0 1.00vmin;}
.icon.tn {line-height: var(--p-lh-tn); width: var(--icon-sz-tn); height: var(--icon-sz-tn); margin: 0 0.75vmin;}
.icon.i-black {filter: invert(100);}
.i-menu {content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/></svg>');}
.i-home {content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"><path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"/></svg>');}
.i-categoria {content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"><path d="M1 2.5A1.5 1.5 0 0 1 2.5 1h3A1.5 1.5 0 0 1 7 2.5v3A1.5 1.5 0 0 1 5.5 7h-3A1.5 1.5 0 0 1 1 5.5v-3zM2.5 2a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 1h3A1.5 1.5 0 0 1 15 2.5v3A1.5 1.5 0 0 1 13.5 7h-3A1.5 1.5 0 0 1 9 5.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zM1 10.5A1.5 1.5 0 0 1 2.5 9h3A1.5 1.5 0 0 1 7 10.5v3A1.5 1.5 0 0 1 5.5 15h-3A1.5 1.5 0 0 1 1 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3zm6.5.5A1.5 1.5 0 0 1 10.5 9h3a1.5 1.5 0 0 1 1.5 1.5v3a1.5 1.5 0 0 1-1.5 1.5h-3A1.5 1.5 0 0 1 9 13.5v-3zm1.5-.5a.5.5 0 0 0-.5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 0-.5-.5h-3z"/></svg>');}
.i-collapse {content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/></svg>');}
.i-promo {content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z"/><path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z"/><path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z"/><path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z"/></svg>');}
.i-cotado {content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.854 10.803a.5.5 0 1 1-.708-.707L9.243 6H6.475a.5.5 0 1 1 0-1h3.975a.5.5 0 0 1 .5.5v3.975a.5.5 0 1 1-1 0V6.707l-4.096 4.096z"/></svg>');}
.i-fav {content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"><path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/></svg>');}
.i-cashback {content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"><path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9H5.5zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518l.087.02z"/><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11zm0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"/></svg>');}
.i-busca {content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg>');}
.i-mail {content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"><path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2zm13 2.383-4.758 2.855L15 11.114v-5.73zm-.034 6.878L9.271 8.82 8 9.583 6.728 8.82l-5.694 3.44A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.739zM1 11.114l4.758-2.876L1 5.383v5.73z"/></svg>');}
.i-whats {content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"><path d="M13.601 2.326A7.854 7.854 0 0 0 7.994 0C3.627 0 .068 3.558.064 7.926c0 1.399.366 2.76 1.057 3.965L0 16l4.204-1.102a7.933 7.933 0 0 0 3.79.965h.004c4.368 0 7.926-3.558 7.93-7.93A7.898 7.898 0 0 0 13.6 2.326zM7.994 14.521a6.573 6.573 0 0 1-3.356-.92l-.24-.144-2.494.654.666-2.433-.156-.251a6.56 6.56 0 0 1-1.007-3.505c0-3.626 2.957-6.584 6.591-6.584a6.56 6.56 0 0 1 4.66 1.931 6.557 6.557 0 0 1 1.928 4.66c-.004 3.639-2.961 6.592-6.592 6.592zm3.615-4.934c-.197-.099-1.17-.578-1.353-.646-.182-.065-.315-.099-.445.099-.133.197-.513.646-.627.775-.114.133-.232.148-.43.05-.197-.1-.836-.308-1.592-.985-.59-.525-.985-1.175-1.103-1.372-.114-.198-.011-.304.088-.403.087-.088.197-.232.296-.346.1-.114.133-.198.198-.33.065-.134.034-.248-.015-.347-.05-.099-.445-1.076-.612-1.47-.16-.389-.323-.335-.445-.34-.114-.007-.247-.007-.38-.007a.729.729 0 0 0-.529.247c-.182.198-.691.677-.691 1.654 0 .977.71 1.916.81 2.049.098.133 1.394 2.132 3.383 2.992.47.205.84.326 1.129.418.475.152.904.129 1.246.08.38-.058 1.171-.48 1.338-.943.164-.464.164-.86.114-.943-.049-.084-.182-.133-.38-.232z"/></svg>');}
.i-face {content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"><path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/></svg>');}
.i-insta {content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"><path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/></svg>');}
.i-chevd-lft {content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M8.354 1.646a.5.5 0 0 1 0 .708L2.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/><path fill-rule="evenodd" d="M12.354 1.646a.5.5 0 0 1 0 .708L6.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/></svg>');}
.i-chevd-rgt {content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z"/><path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z"/></svg>');}
.i-login {content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"><path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/><path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/></svg>');}
.i-signup {content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"><path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/><path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/></svg>');}
.i-logout {content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/><path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/></svg>');}
.i-close {content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"><path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/><path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/></svg>');}
.i-key {content: url('data:image/svg+xml; utf8, <svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 16 16"><path d="M0 8a4 4 0 0 1 7.465-2H14a.5.5 0 0 1 .354.146l1.5 1.5a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0L13 9.207l-.646.647a.5.5 0 0 1-.708 0L11 9.207l-.646.647a.5.5 0 0 1-.708 0L9 9.207l-.646.647A.5.5 0 0 1 8 10h-.535A4 4 0 0 1 0 8zm4-3a3 3 0 1 0 2.712 4.285A.5.5 0 0 1 7.163 9h.63l.853-.854a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.793-.793-1-1h-6.63a.5.5 0 0 1-.451-.285A3 3 0 0 0 4 5z"/><path d="M4 8a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/></svg>');}
