<table mat-table class="mat-elevation-z8" [dataSource]="dataSource" matSort>
  <!-- Nome Column -->
  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Nome</th>
    <td mat-cell *matCellDef="let candidato">{{candidato.nome}}</td>
  </ng-container>

  <!-- Altura Column -->
  <ng-container matColumnDef="altura">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Altura</th>
    <td mat-cell *matCellDef="let candidato">{{candidato.altura}}</td>
  </ng-container>

  <!-- Peso Column -->
  <ng-container matColumnDef="peso">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Peso</th>
    <td mat-cell *matCellDef="let candidato">{{candidato.peso}}</td>
  </ng-container>

  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Ações</th>
    <td mat-cell *matCellDef="let candidato">
      <button mat-icon-button color="primary" aria-label="Editar" (click)="onEdit(candidato)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" aria-label="Deletar" (click)="onDelete(candidato)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20, 50, 300]" showFirstLastButtons aria-label="Lista ordenada">
</mat-paginator>
