<h2 mat-dialog-title>Ficha do Candidato</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="form" class="min-width">
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input
        matInput
        #nome
        formControlName="nome"
        maxlength="60"
        type="text"
        required
      />
      <mat-hint align="end">{{ nome.value.length || 0 }} / 60</mat-hint>
      <mat-error
        *ngIf="form.get('nome')?.invalid"
        >{{getErrorMessage("nome")}}</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Data Nasc.</mat-label>
      <input
        matInput
        #data_nasc
        formControlName="data_nasc"
        mask="d0/M0/0000"
        [leadZeroDateTime]="true"
        required
      />
      <mat-hint></mat-hint>
      <mat-error
        *ngIf="form.get('data_nasc')?.invalid"
        >{{getErrorMessage("data_nasc")}}</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>CPF</mat-label>
      <input
        matInput
        #cpf
        formControlName="cpf"
        maxlength="14"
        mask="000.000.000-99"
        type="text"
        required
      />
      <mat-hint align="end">{{ cpf.value.length || 0 }} / 14</mat-hint>
      <mat-error
        *ngIf="form.get('cpf')?.invalid"
        >{{getErrorMessage("cpf")}}</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>RG</mat-label>
      <input
        matInput
        #rg
        formControlName="rg"
        maxlength="12"
        mask="00.000.000-0"
        type="text"
        required
      />
      <mat-hint align="end">{{ rg.value.length || 0 }} / 12</mat-hint>
      <mat-error
        *ngIf="form.get('rg')?.invalid"
        >{{getErrorMessage("rg")}}</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Gênero</mat-label>
      <mat-select formControlName="sexo" maxlength="60" type="text" required>
        <mat-option *ngFor="let sexo of ['Feminino', 'Masculino']" [value]="sexo">{{sexo}}</mat-option>
      </mat-select>
      <mat-error
        *ngIf="form.get('sexo')?.invalid"
        >{{getErrorMessage("sexo")}}</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>E-mail</mat-label>
      <input
        matInput
        #email
        formControlName="email"
        maxlength="100"
        type="email"
        required
      />
      <mat-hint align="end">{{ email.value.length || 0 }} / 100</mat-hint>
      <mat-error
        *ngIf="form.get('email')?.invalid"
        >{{getErrorMessage("email")}}</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Mãe</mat-label>
      <input
        matInput
        #mae
        formControlName="mae"
        maxlength="60"
        type="text"
        required
      />
      <mat-hint align="end">{{ mae.value.length || 0 }} / 60</mat-hint>
      <mat-error
        *ngIf="form.get('mae')?.invalid"
        >{{getErrorMessage("mae")}}</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Pai</mat-label>
      <input
        matInput
        #pai
        formControlName="pai"
        maxlength="60"
        type="text"
        required
      />
      <mat-hint align="end">{{ pai.value.length || 0 }} / 60</mat-hint>
      <mat-error
        *ngIf="form.get('pai')?.invalid"
        >{{getErrorMessage("pai")}}</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>cep</mat-label>
      <input
        matInput
        #cep
        formControlName="cep"
        maxlength="60"
        type="text"
        required
      />
      <mat-hint align="end">{{ cep.value.length || 0 }} / 60</mat-hint>
      <mat-error
        *ngIf="form.get('cep')?.invalid"
        >{{getErrorMessage("cep")}}</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>endereco</mat-label>
      <input
        matInput
        #endereco
        formControlName="endereco"
        maxlength="60"
        type="text"
        required
      />
      <mat-hint align="end">{{ endereco.value.length || 0 }} / 60</mat-hint>
      <mat-error
        *ngIf="form.get('endereco')?.invalid"
        >{{getErrorMessage("endereco")}}</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>endereco</mat-label>
      <input
        matInput
        #endereco
        formControlName="endereco"
        maxlength="60"
        type="text"
        required
      />
      <mat-hint align="end">{{ endereco.value.length || 0 }} / 60</mat-hint>
      <mat-error
        *ngIf="form.get('endereco')?.invalid"
        >{{getErrorMessage("endereco")}}</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>numero</mat-label>
      <input
        matInput
        #numero
        formControlName="numero"
        maxlength="60"
        type="text"
        required
      />
      <mat-hint align="end">{{ numero.value.length || 0 }} / 60</mat-hint>
      <mat-error
        *ngIf="form.get('numero')?.invalid"
        >{{getErrorMessage("numero")}}</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>bairro</mat-label>
      <input
        matInput
        #bairro
        formControlName="bairro"
        maxlength="60"
        type="text"
        required
      />
      <mat-hint align="end">{{ bairro.value.length || 0 }} / 60</mat-hint>
      <mat-error
        *ngIf="form.get('bairro')?.invalid"
        >{{getErrorMessage("bairro")}}</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>cidade</mat-label>
      <input
        matInput
        #cidade
        formControlName="cidade"
        maxlength="60"
        type="text"
        required
      />
      <mat-hint align="end">{{ cidade.value.length || 0 }} / 60</mat-hint>
      <mat-error
        *ngIf="form.get('cidade')?.invalid"
        >{{getErrorMessage("cidade")}}</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>estado</mat-label>
      <input
        matInput
        #estado
        formControlName="estado"
        maxlength="60"
        type="text"
        required
      />
      <mat-hint align="end">{{ estado.value.length || 0 }} / 60</mat-hint>
      <mat-error
        *ngIf="form.get('estado')?.invalid"
        >{{getErrorMessage("estado")}}</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>telefone_fixo</mat-label>
      <input
        matInput
        #telefone_fixo
        formControlName="telefone_fixo"
        maxlength="60"
        type="text"
        required
      />
      <mat-hint align="end"
        >{{ telefone_fixo.value.length || 0 }} / 60</mat-hint
      >
      <mat-error
        *ngIf="form.get('telefone_fixo')?.invalid"
        >{{getErrorMessage("telefone_fixo")}}</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>celular</mat-label>
      <input
        matInput
        #celular
        formControlName="celular"
        maxlength="60"
        type="text"
        required
      />
      <mat-hint align="end">{{ celular.value.length || 0 }} / 60</mat-hint>
      <mat-error
        *ngIf="form.get('celular')?.invalid"
        >{{getErrorMessage("celular")}}</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>altura</mat-label>
      <input
        matInput
        #altura
        formControlName="altura"
        maxlength="60"
        type="text"
        required
      />
      <mat-hint align="end">{{ altura.value.length || 0 }} / 60</mat-hint>
      <mat-error
        *ngIf="form.get('altura')?.invalid"
        >{{getErrorMessage("altura")}}</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>peso</mat-label>
      <input
        matInput
        #peso
        formControlName="peso"
        maxlength="60"
        type="text"
        required
      />
      <mat-hint align="end">{{ peso.value.length || 0 }} / 60</mat-hint>
      <mat-error
        *ngIf="form.get('peso')?.invalid"
        >{{getErrorMessage("peso")}}</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Tipo Sanguíneo</mat-label>
      <input
        matInput
        #tipo_sanguineo
        formControlName="tipo_sanguineo"
        maxlength="60"
        type="text"
        required
      />
      <mat-hint align="end"
        >{{ tipo_sanguineo.value.length || 0 }} / 60</mat-hint
      >
      <mat-error
        *ngIf="form.get('tipo_sanguineo')?.invalid"
        >{{getErrorMessage("tipo_sanguineo")}}</mat-error
      >
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" [mat-dialog-close]="true" (click)="onSubmit()">Salvar</button>
  <button mat-raised-button mat-dialog-close>Cancelar</button>
</mat-dialog-actions>
